<tr>
  <td>
    <%= session.name %>
  </td>
  <td>
    <%= session.dates %>
  </td>
  <td>
    <% session.player_sessions.each do |p_s| %>
      <%= p_s.rank %>
    <% end %>
  </td>
</tr>
<tr>
  <td colspan="3">
    <ul class="list-group">
      <% session.session_dates.each do |session_date| %>
        <li class="list-group-item"><%= session_date.date %></li>
      <% end %>
    </ul>
  </td>
</tr>