<h1>
  Welcome to KPTC, <%= @player.name %>
</h1>
<p>
  We have received your registration to play.
  Once you have been approved, you will receive a follow-up email with your login information.
</p>