<div class="row">
  <div class=col-xs-24>
    <div class="panel panel-default">
      
      <div class="panel-heading">
        <h2>Current Players</h2>
      </div>
      <%= render 'player_list', players: @current_players %>
    </div>
    
    <div class="panel panel-default">
      
      <div class="panel-heading">
        <h2>Other Players</h2>
      </div>
      <%= render 'player_list', players: @other_players %>
      <div class="panel-footer">
        <%= paginate @other_players %>
      </div>
    </div>
  </div>
</div>