@import "bootstrap";
@import "font-awesome";
@import "icheck/square/_all";

.btn-primary,
.btn-default {
  @extend .btn;
}

.field_with_errors {
  @extend .has-error;
}

[class^="icheckbox"] {
  margin-right: 10px;
}

body {
  background: #f6f6f6;
  font-family: Muli, serif;
  position: relative;
}

#header {
  .dropdown-toggle .dropdown-menu li.active a {
    border-bottom: none;
  }
}

.navbar-brand {
  padding: 0;
}

.btn-primary {
  padding: 6px 20px;
  background-color: $primary-color;
  border: none;
  border-radius: 0;
  border-bottom: 5px solid darken($primary-color, 10%);
  &:hover {
    background-color: darken($primary-color, 10%);
    border-color: darken($primary-color, 10%);
  }
  &.disabled {
    background-color: lighten($primary-color, 20%);
    border-bottom: 5px solid lighten($primary-color, 10%);
  }
}

//header
.logo {
  padding: 0 10px;
  img {
    max-height: 50px;
    margin-top: 2.5%;
    height: 90%;
  }
}

// .navbar {
//   position: relative;
//   overflow: hidden;
//   &:after {
//     content: '';
//     display: block;
//     width: 80px;
//     border-bottom: 15px double $primary-color;
//     position: absolute;
//     right: -17px;
//     top: 27px;
//     transform: rotate(-45deg);
//   }
// }
.navbar-nav li.active > a {
  border-bottom: 5px solid $primary-color;
}

.navbar-nav .dropdown-menu li.active > a {
  border-bottom: none;
}

.navbar-default .navbar-nav > .active  > a {
  background-color: #F8F8F8;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background-color: #F8F8F8;
}

#header .navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > li > a {
  &:hover {
    border-bottom: $bb-reg;
  }
}

//tabs
.nav-tabs li.active a {
  background: rgba(118, 195, 0, 0.65)!important;
}

//Login page
.log-in #header {
  .navbar-default, 
  .container-fluid {
    background: rgba(255,255,255,0.56) !important;
  }
  .navbar-default .navbar-nav > .active  > a {
    background: rgba(0,0,0,0);
  }
}

.log-in {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url(paddle-racket-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  .container1 {
    background: rgba(255,255,255, 0.56);
    padding-bottom: 20px;
    margin-top: 120px;
  }
  #header {
    position: relative;
    &:before {
      content: 'Welcome to Paddle';
      position: absolute;
      z-index: 100;
      font-size: 30px;
      font-weight: bold;
      left: 0;
      right: 0;
      text-align: center;
    }
    .container-fluid {
      display: none;
    }
  }
  .checkbox input[type="checkbox"] {
    left: 20px;
  }
  a {
    color: #000;
    &:hover {
      color: #000;
    }
  }
  footer {
    width: calc(33.3333% + 10px);
    margin-left: calc(33.3333% - 5px);
    ul {
      width: 60%;
      margin-left: auto;
      margin-right: auto;
     li {
      font-size: 10px;
      } 
    }
  }
  .footer {
    background: rgba(255,255,255,0.56);
  }
}

body:not(.log-in) {
  background: url('ps_neutral.png') repeat;
}

// Profile styles
.profile {
  background: #FFF;
  padding-left: 0;
  padding-right: 0;
}

.profile-wrap {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 20px;
}


//session styles
.upcoming-sessions {
  border: none;
  margin-bottom: 0;
  .panel-body {
    padding-bottom: 30px;
    .session-box {
      padding-left: 0;
      margin-left: 10px;
      label {
        text-align: center;
        padding-left: 0;
        .checker {

        }
      }
    }
    .session-sub {
      margin-left: 45px;
    }
  }
  .upcoming-btn {
    display: block;
    margin: 20px auto 0 auto;
    padding-left: 35px;
    padding-right: 35px;
  }
}

.panel-default .panel-heading {
  background-color: rgba(118,195,0,0.65);
  border-radius: 0;
}
.panel,
.navbar {
  border-radius: 0;
}


//footer stylings

.panel-footer {
  .pagination .active a {
    background: $primary-color;
    color: #FFF;
  }
  .pagination li a {
    color: $primary-color;
  }
}

//responsive 

@media screen and (min-width: 768px) {
  .profile {
/*    width: calc(25% - 15px);
    margin-left: 15px;
*/  }
}

@media screen and (max-width: 768px) {
  .profile {
    width: calc(100% - 30px);
    margin: 0 auto 20px auto;
    display: block;
    float: none;
    padding-top: 15px;
    padding-bottom: 15px;
    h1 {
      margin-top: 0;
    }
  }
}